<img
  src="/assets/img/coaching.jpg"
  class="mx-auto rounded shadow-lg d-block img-fluid"
  alt="Exectuive Search"
/>
<h1 class="mt-5 mb-4 display-3 ms-4 text-uppercase">Coaching</h1>
<p class="fs-5">
  Beim Executive Coaching geht es uns grundsätzlich um die Schaffung eines
  vertrauensvollen und sicheren Raumes für Führungskräfte, um ihre Denkmuster
  und Verhaltensweisen zu hinterfragen und neue Erkenntnisse zu generieren. Als
  Berater und Coach verfügen wir über jahrelange Erfahrung im Coaching von
  Führungskräften und verhelfen ihnen dabei die Leistung ihrer Führungskräfte zu
  verbessern, transformative Veränderungen anzustoßen und die Zukunft zu
  gestalten.
</p>
<ul class="mt-5">
  <li class="fs-5 ps-3 mb-4">
    <span class="fw-bold me-3">Messbare Ergebnisse:</span>Wir helfen
    Führungskräften dabei, messbare Ziele zu definieren und stellen sicher, dass
    sie über die richtigen Tools und Werkzeuge verfügen, um erfolgreich zu sein.
  </li>
  <li class="fs-5 ps-3 mb-4">
    <span class="fw-bold me-3"
      >Veränderung von Denkmustern und Verhaltensweisen:</span
    >Wir helfen Führungskräften, sich auf Werte und Verhaltensweisen zu
    konzentrieren, die für eine effektive und ‚authentische‘ Führung
    erforderlich sind.
  </li>
  <li class="fs-5 ps-3 mb-4">
    <span class="fw-bold me-3">Verstärktes Selbstbewusstsein: </span>Wir
    ermöglichen den Führungskräften ihr Bewusstsein für die eigenen Stärken und
    Entwicklungsfelder zu entwickeln und zu verbessern.
  </li>
</ul>
