<img
  src="/assets/img/funktions_expertise.jpg"
  class="mx-auto rounded shadow-lg d-block img-fluid"
  alt="Funktions Expertise"
/>
<h1 class="mt-5 mb-4 display-3 ms-4 text-uppercase">Funktions Expertise</h1>
<p class="fs-5">
  Über mehr als 20 Jahren fokussieren wir uns auf die folgenden Positionen:
</p>
<ul class="mt-5 list-group list-group-flush">
  <li class="fs-5 list-item-bullet">Verwaltungsräte & Board Members</li>
  <li class="fs-5 list-item-bullet">CEO & Management</li>
  <li class="fs-5 list-item-bullet">CFO & Finance</li>
  <li class="fs-5 list-item-bullet">CIO & Digital</li>
</ul>
