<div>
  <div class="p-4 bg-white d-none d-md-flex flex-column text-secondary">
    <p class="m-0 fs-2">Paravicini & partners</p>
    <p class="m-0 fs-4">Executive Search, Assessment and Coaching</p>
  </div>

  <div
    class="pt-2 pb-2 text-white w-100 position-relative bg-primary d-flex justify-content-center align-items-center"
  >
    <div class="h-100 start-0 d-flex position-absolute align-items-center">
      <app-menu-button #menu></app-menu-button>
    </div>

    <p class="pt-3 pb-3 m-0 text-center d-block d-md-none fs-3 w-100">
      Paravicini & partners
    </p>

    <nav
      class="d-none d-md-flex justify-content-center container-sm banner-nav"
    >
      <button
        *ngFor="let site of sites; let i = index"
        class="p-0 mt-3 mb-3 ms-auto me-auto btn btn-menu fw-lighter"
        [ngClass]="{ 'text-dark': selectedSiteIndex === i }"
      >
        {{ site[0] }}
      </button>
    </nav>
  </div>
  <div class="sub-navigation d-flex flex-column position-relative">
    <div
      class="pt-2 mt-5 position-absolute ms-4 border-top border-3 border-primary nav-container w-100"
      [ngClass]="{ 'nav-container-open': menu.open }"
    >
      <p class="fs-3 fw-light">{{ sites[selectedSiteIndex][0] }}</p>
      <nav class="d-flex flex-column">
        <button
          *ngFor="let subSite of sites[selectedSiteIndex][1]; let i = index"
          class="mt-1 btn text-start fw-light fs-6 rounded-0"
          [ngClass]="{
            'btn-primary': selectedSubIndex === i,
            'btn-light': selectedSiteIndex !== i
          }"
        >
          {{ subSite }}
        </button>
      </nav>
    </div>
  </div>

  <div class="container">
    <p>fasf</p>
    <ng-content></ng-content>
  </div>
</div>
