@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.sub-navigation {
  width: 200px;
}

.btn-menu:hover {
  color: var(--bs-light) !important;
}

.nav-container {
  z-index: -1;
  transition: ease-in-out transform 0.5s;
  transform: translateY(calc(-100% - 3.5rem));
}

.nav-container-open {
  transform: none;
}

.btn-menu {
  font-size: medium;
  @include media-breakpoint-up(lg) {
    font-size: large;
  }

  @include media-breakpoint-up(xl) {
    font-size: larger;
  }
}

.banner-nav {
  margin-left: 60px;
  margin-right: 60px;

  @include media-breakpoint-up(lg) {
    margin-left: 120px;
    margin-right: 120px;
  }
}
