@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$header_size_large: 215px;
$header_size_small: 80px;
$menu_width_large: 200px;

.header {
  height: $header_size_small;

  @include media-breakpoint-up(md) {
    height: $header_size_large;
  }
}

.navigation-dropdown {
  width: 100%;
  margin-top: $header_size_small;

  @include media-breakpoint-up(md) {
    width: $menu_width_large;
    margin-top: $header_size_large;
  }
}

.btn-menu:hover {
  color: var(--bs-light) !important;
}

.nav-container {
  z-index: -1;
  transition: ease-in-out transform 0.5s;
  transform: translateY(calc(-100% - 3.5rem));
}

.nav-container-open {
  transform: none;
}

.btn-menu {
  font-size: medium;
  @include media-breakpoint-up(lg) {
    font-size: large;
  }

  @include media-breakpoint-up(xl) {
    font-size: larger;
  }
}

.banner-nav {
  margin-left: 60px;
  margin-right: 60px;

  @include media-breakpoint-up(lg) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.nav-btn-icon {
  height: 20px;
  width: 20px;

  transition: ease-in-out transform 0.5s;
}

.nav-btn-icon:before {
  content: '';
  background-color: black;
  transform-origin: top left;
  transform: translate(0px, 0px) rotateZ(45deg);
  height: 1px;
  width: 14.14px;
  display: block;
}

.nav-btn-icon:after {
  content: '';
  background-color: black;
  transform-origin: top left;
  transform: translate(0px, 19px) rotateZ(-45deg);
  height: 1px;
  width: 14.14px;
  display: block;
}

.nav-btn-icon-open {
  transform: rotateX(90deg);
}
