@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$header_size_large: 215px;
$header_size_small: 80px;
$menu_width_large: 320px;
$menu_width_medium: 220px;

.header {
  height: $header_size_small;
  z-index: $zindex-fixed;

  @include media-breakpoint-up(md) {
    height: $header_size_large;
  }
}

.header-indent {
  margin-top: $header_size_small;
  @include media-breakpoint-up(md) {
    margin-top: $header_size_large;
  }
}

.nav-container {
  background-color: white;
  z-index: $zindex-dropdown;
  transition: ease-in-out transform 0.5s;
  transform: translateY(calc(-100% - 3.5rem));
  width: 100vw;

  min-height: calc(100vh - #{$header_size_small});

  @include media-breakpoint-up(md) {
    min-height: auto;
    width: $menu_width_medium;
  }

  @include media-breakpoint-up(lg) {
    width: $menu_width_large;
  }
}

.nav-title {
  border-bottom: 1px solid #dee2e6;

  @include media-breakpoint-up(md) {
    border-bottom: none;
    border-width: 3px !important;
    border-top: 1px solid;
    font-size: 1.2rem !important;
    border-color: var(--bs-primary);
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.75rem !important;
  }
}

.content {
  margin-left: 0;
  margin-right: 0;

  @include media-breakpoint-up(md) {
    margin-left: $menu_width_medium;
  }

  @include media-breakpoint-up(lg) {
    margin-left: $menu_width_large;
  }
}

.menu-open .nav-container {
  transform: none;
}

.btn-menu {
  font-size: medium;
  @include media-breakpoint-up(lg) {
    font-size: large;
  }

  @include media-breakpoint-up(xl) {
    font-size: larger;
  }
}

.banner-nav {
  margin-left: 60px;
  margin-right: 60px;

  @include media-breakpoint-up(lg) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.nav-btn-icon {
  height: 20px;
  width: 20px;

  transition: ease-in-out transform 0.5s;
}

.nav-btn-icon:before {
  content: '';
  background-color: black;
  transform-origin: top left;
  transform: translate(0px, 0px) rotateZ(45deg);
  height: 1px;
  width: 14.14px;
  display: block;
}

.nav-btn-icon:after {
  content: '';
  background-color: black;
  transform-origin: top left;
  transform: translate(0px, 19px) rotateZ(-45deg);
  height: 1px;
  width: 14.14px;
  display: block;
}

.nav-btn-icon-open {
  transform: rotateX(90deg);
}
