<div class="d-flex justify-content-between head">
  <div class="d-flex flex-column">
    <h1 class="text-uppercase flex-grow-1 display-3 ms-4">Rafael Paravicini</h1>
    <h2 class="display-4 ms-4">Managing Partner</h2>
    <p class="fs-5 ms-4">Dipl. El.-Ing. ETH und BWI</p>
  </div>
  <div class="h-100 me-4">
    <img
      src="/assets/img/owner.jpg"
      alt="Owner"
      class="d-block shadow-lg img-fluid float-end h-100"
    />
  </div>
</div>
<p class="fs-5 mt-5">
  Rafael Paravicini führt als Managing Partner die eigenständige Executive
  Search Unternehmen Paravicini & partners. Er ist auf Unternehmen des
  Technologie- und Industriesektors spezialisiert und hat während seiner über
  zwanzigjährigen Tätigkeit auf diesem Gebiet zahlreiche Vermittlungen im
  Top-Management-Bereich, vorwiegend für internationale Kunden, aber auch für
  nationale Firmen, abschliessen können. Rafael Paravicini hat sich zusätzlich
  auf die Suche von CFO und CIO Mandate spezialisiert und hat zahlreichen
  Finanz- und IT-Positionen in der Schweiz besetzt.
</p>
<p class="fs-5">
  Vor seiner gegenwärtigen Position war Herr Paravicini ebenfalls als Partner
  bei den zwei renommierten Executive-Search Unternehmen Heidrick & Struggles
  und KornFerry für über 20 Jahre als Partner zuständig. Zuvor war Rafael
  Paravicini Leiter der Enterprise & Consumer Division bei Alcatel Schweiz. Er
  begann seine berufliche Karriere als Kommunikationsberater bei AT&T (Schweiz),
  wo er später die Funktion des Geschäftsleiters der Communications Consulting
  Group‘ übernahm.
</p>
<p class="fs-5">
  Rafael Paravicini wurde in Bern geboren und wuchs neben Bern auch im Ausland
  auf. Nach Abschluss der der Matura absolvierte er erfolgreich sein Studium an
  der ETH in Zürich als Elektroingenieur und erwarb  ein weiteres Diplom der ETH
  Zürich im Bereich Business Management (BWI – Abteilung für Wirtschaft).
</p>
<p class="fs-5">
  Herr Paravicini spricht fliessend Deutsch, Englisch und Spanisch.
</p>
