<img
  src="/assets/img/outplacement.jpg"
  class="mx-auto rounded shadow-lg d-block img-fluid"
  alt="Outplacement"
/>
<h1 class="mt-5 mb-4 display-3 ms-4 text-uppercase">Outplacement</h1>
<p class="fs-5">
  Wir begleiten und beraten Führungspersonen bei ihrer Standortbestimmung und
  beruflichen Neuorientierung, dies vor allem mit Zuversicht, Freude und
  Neugier.
</p>
<p class="fs-5">
  Jede Führungspersönlichkeit hat sehr individuelle Bedürfnisse und Erwartungen.
  Wir nehmen uns Zeit diese zu verstehen, zu reflektieren und
  weiterzuentwickeln. Eine umfassende Standortbestimmung, das Verstehen der
  Eignung und Interessenlage und die Ausarbeitung eines Kompetenzen-Profils
  bilden die Basis für die richtige Positionierung der Kandidaten im Markt.
</p>
<p class="fs-5">
  Durch unser grosses Netzwerk unterstützen wir die Kandidaten in der Erfüllung
  ihres nächsten Karriereschrittes.
</p>
