<img
  src="/assets/img/kontakt.jpg"
  class="rounded shadow-lg d-block img-fluid"
  alt="Kontakt"
/>
<h1 class="mt-5 mb-4 display-3 text-uppercase">Kontakt</h1>
<address>
  <p class="fs-5">Paravicini & Partners GmbH</p>
  <p class="m-0 fs-5">Rafael Paravicini</p>
  <p class="m-0 fs-6">Managing Partner</p>
  <p class="m-0 fs-6 mb-3">Dipl. El.-Ing ETH / BWI</p>
  <a href="mailto:rafael.paravicini@icloud.com" class="m-0 fs-5 mb-3 d-block">
    paravicini@paravicini-partners.ch
  </a>
  <p class="m-0 fs-5 mb-3">
    Mobile
    <a href="tel:+41794457192" class="text-decoration-none">+41 79 445 71 92</a>
  </p>
  <a href="https://www.paravicini-partners.ch" class="m-0 fs-5 mb-4 d-block">
    www.paravicini-partners.ch
  </a>
  <div>
    <p class="mb-0">Winzerstrasse 3</p>
    <p class="mb-0">5430 Wettingen</p>
    <p class="mb-5">Schweiz</p>
  </div>
</address>
<!--<p class="m-0 fs-5">MwSt. Nr.:</p>-->
