<img
  src="/assets/img/assessment.jpg"
  class="mx-auto rounded shadow-lg d-block img-fluid"
  alt="Exectuive Search"
/>
<h1 class="mt-5 mb-4 display-3 ms-4 text-uppercase">Assessment</h1>
<p class="fs-5">
  Ein zusätzliches Assessment kann Sicherheit in der Selektion des Kandidaten
  aufbauen. Eventuell haben Sie einen Kandidaten für eine bestimmte Position
  evaluiert und sind unsicher,
</p>
<ul class="list-group list-group-flush">
  <li class="fs-5 list-item-bullet">
    ob die Selektion profesionell stattgefunden hat
  </li>
  <li class="fs-5 list-item-bullet">
    ob keine interne Seilschaften den Kandidaten bevorzugt haben
  </li>
  <li class="fs-5 list-item-bullet">
    ob die richtigen Referenzen eingeholt wurden
  </li>
  <li class="fs-5 list-item-bullet">
    ob ein Vergleich zu internen Kandidaten professionell durchgeführt wurde
  </li>
  <li class="fs-5 list-item-bullet">
    ob die Kandidaten eine externen Benchmark genügen
  </li>
</ul>
<p class="fs-5 mt-5">
  Hier kann ein externes Assessment Klarheit schaffen und die Stärken und
  Schwächen der Kandidaten transparent aufzeigen. So können für die Schwächen
  entsprechende Coaching Programme berücksichtigt werden, um den Erfolg des
  Placements zu festigen.
</p>
<p class="banner">Der Prozess umfasst folgende Schritte:</p>
<ul class="list-group list-group-flush mt-5">
  <li class="fs-5 list-item-bullet">Standortbestimmung</li>
  <li class="fs-5 list-item-bullet">Qualifikation der view Dimensionen</li>
  <div class="qualifikation mx-auto text-white">
    <div class="h-50 w-100 d-flex">
      <div class="qualifikation-item dark-blue">
        <p class="fs-5">Expertise & Kompetenzen</p>
      </div>
      <div class="qualifikation-item light-blue">
        <p class="fs-5">Leadership</p>
      </div>
    </div>
    <div class="h-50 w-100 d-flex">
      <div class="qualifikation-item purple">
        <p class="fs-5">Agility & Potential</p>
      </div>
      <div class="qualifikation-item red">
        <p class="fs-5">Cultural Fit</p>
      </div>
    </div>
  </div>
  <li class="fs-5 list-item-bullet">Benchmark mit externen Kandidateen</li>
  <li class="fs-5 list-item-bullet">Fallstudien</li>
</ul>
<p class="banner">Wo steht der Kandidat:</p>
<img
  class="mx-auto img-fluid d-block"
  src="/assets/img/kandidat.png"
  alt="Wo steht der Kandidat"
/>
