<img
  src="/assets/img/industrie_expertise.jpg"
  class="rounded shadow-lg d-block img-fluid"
  alt="Industrie Expertise"
/>
<h1 class="mt-5 mb-4 display-3 text-uppercase">Industrie Expertise</h1>
<p class="fs-5">
  Wir haben über 30 Jahre Erfahrung in der Industrie und der
  Technologie-Branche. In der Technologie-Branche haben wir eine tiefe
  Spezialisierung im IT- und im gesamten Telekommunikations-Sektor. Wir haben in
  der Schweiz über 700 Platzierungen in diesen Branchen erfolgreich
  abgeschlossen:
</p>
<ul class="mt-5 list-group list-group-flush">
  <li class="fs-5 list-item-bullet">Industrie</li>
  <li class="fs-5 list-item-bullet">Technologie</li>
  <li class="fs-5 list-item-bullet">IT & Telekommunikation</li>
</ul>
