<div
  class="position-fixed d-block w-100 vh-100 bg-white overlay top-0 start-0"
  [ngClass]="{ 'd-none': !display, 'hide-overlay': shouldHide }"
  (click)="hideOverlay()"
>
  <video autoplay loop playsinline muted class="w-100 h-100" #video>
    <source src="/assets/videos/bg_video.webm" type="video/webm" />
    <source src="/assets/videos/bg_video.mp4" type="video/mp4" />
  </video>
  <div
    class="
      position-absolute
      top-50
      start-50
      translate-middle
      w-100
      d-flex
      flex-column
      align-items-center
    "
  >
    <img
      class="img-fluid logo slideInLogo"
      src="assets/img/logo_white.svg"
      alt="Paravicini & Partners Logo"
    />
    <p class="slideInText text-white display-1 text-center fw-normal">
      Paravicini & Partners
    </p>
  </div>
</div>
