@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlay {
  z-index: 1500;
}

.hide-overlay {
  animation: 2s ease-in-out 1 hide forwards;
  pointer-events: none;
}

video {
  object-fit: cover;
}

@keyframes enlarge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.slideInText {
  transform: scale(0);
  animation: 5s ease-in-out 2s 1 enlarge forwards;
}

.slideInLogo {
  animation: 3s ease-in-out 0s 1 enlarge forwards;
}

.logo {
  height: 60px;
}
