$header_size_large: 215px;
$header_size_small: 80px;
$menu_width_large: 320px;
$menu_width_medium: 220px;

$font-family-base: 'Roboto', sans-serif;

$primary: #242852;
$secondary: #4a66ac;
$light: #d9d9d9;
$dark: #6ef90f;

$btn-border-radius: 0;
$btn-hover-bg-shade-amount: 40%;
$btn-hover-bg-tint-amount: 40%;

$display-font-sizes: (
  1: 2.5rem,
  2: 2.25rem,
  3: 2rem,
  4: 1.75rem,
  5: 1.5rem,
  6: 1rem,
);

$font-weight-base: 300;
$heading-font-weight: 300;
$lead-font-weight: 300;

$enable-responsive-font-sizes: true;
