/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
  overflow-y: scroll;
}

.btn-menu {
  @extend .btn-primary;
  color: white;
  background: transparent;
  font-weight: 300;
  border: none;
  box-shadow: none;
  border-color: transparent;
}

.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  border-color: transparent;
  color: #737373 !important;
}

.btn-side-menu {
  @extend .btn-menu;
  font-weight: 400;
  color: black;
  text-align: start;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    background-color: var(--bs-light);
    border-color: var(--bs-light);
    color: var(--bs-secondary);
    font-weight: 200;
    font-size: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  @include media-breakpoint-up(lg) {
    font-weight: 300;
    font-size: 1.1rem;
  }
}

.btn-side-menu-primary {
  @include media-breakpoint-up(md) {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: white !important;
  }
}

.btn-side-menu:hover {
  background-color: #cccccc;
}

.list-item {
  list-style-type: '—';
  margin-left: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.list-item-bullet {
  list-style-type: square;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.banner {
  @extend .fs-4;
  border-left: 3px solid var(--bs-primary);
  margin-top: 3rem;
  margin-left: 0;
  padding: 1.5rem;
  padding-right: 0;
  font-weight: 400;
  background-color: #f2f2f2;

  @include media-breakpoint-up(md) {
    margin-left: 1.5rem;
  }
}

.header-indent {
  margin-top: $header_size_small;
  @include media-breakpoint-up(md) {
    margin-top: $header_size_large;
  }
}
