<img
  src="/assets/img/about_us_firma.jpg"
  class="rounded mx-auto d-block shadow-lg img-fluid"
  alt="Über uns als Firma"
/>
<h1 class="display-3 mt-5 mb-4 ms-4">Paravicini & Partners</h1>
<p class="fs-5">
  Wir sind ein eigenständiges Schweizerisches Executive Search Unternehmen.
</p>
<p class="fs-5">
  Wir unterstützen unsere Kunden in einer ganzheitlichen Beratung bei der Suche
  nach neuen internationalen und nationalen Führungspersönlichkeiten.
</p>
<img
  src="/assets/img/about_us_firma_2.png"
  class="rounded mx-auto d-block img-fluid mt-5 mb-5"
  alt="Organisation"
/>
<h2 class="display-4 mt-5 mb-4 ms-4">Unser Angebot</h2>
<ul class="list-group list-group-flush">
  <li class="fs-5 list-item">Executive Search</li>
  <li class="fs-5 list-item">Assessment</li>
  <li class="fs-5 list-item">Onboarding</li>
  <li class="fs-5 list-item">Coaching</li>
  <li class="fs-5 list-item">Outplacement</li>
</ul>
<h2 class="display-4 mt-5 mb-4 ms-4">Unsere Vorteile</h2>
<ul class="list-group list-group-flush">
  <li class="fs-5 list-item">Über 20 Jahre Executive Search Erfahrung</li>
  <li class="fs-5 list-item">
    Mehr als 7'000 Interviews und Assessment durchgeführt
  </li>
  <li class="fs-5 list-item">700 plus Placements in der Schweiz</li>
  <li class="fs-5 list-item">Fokussierung auf VR, Management, CFO und CIO</li>
</ul>
<p class="banner">
  Ein systematischer Prozess abgestimmt auf die Erwartungen unserer Kunden
</p>
