<img
  src="/assets/img/executive_search.jpg"
  class="mx-auto rounded shadow-lg d-block img-fluid"
  alt="Exectuive Search"
/>
<h1 class="mt-5 mb-4 display-3 ms-4 text-uppercase">Executive Search</h1>
<p class="fs-5">
  Unternehmen stehen heute mehr denn je unter Leistungsdruck. Ohne jedoch
  gezielte Anstrengungen auf ihre Personalstrategie zu unternehmen, fehlt den
  Unternehmen die volle Kraft und das Potenzial ihres größten Erfolgshebels.
</p>
<p class="fs-5">
  Unsere Beratungsleistung besteht in der systematischen Identifikation und
  Auswahl geeigneter Kandidaten auf der Basis von klar definierten Prozessen.
  Ziel ist es, in der schnellstmöglichen Zeit unter Einhaltung unserer hohen
  Qualitätsansprüche den Personalbedarf unserer Kunden zu decken.
</p>
<p class="mt-5 mb-5 banner">Der Prozess umfasst folgende Schritte:</p>
<img
  src="/assets/img/executive_search_process.jpg"
  class="mx-auto mt-5 mb-5 rounded d-block img-fluid"
  alt="Executive Search Process"
/>

<p class="mt-5 mb-5 banner">Beschreibung der Schritte:</p>
<div class="pt-5 mt-5 d-flex flex-column flex-lg-row">
  <div class="icon-block-sm mb-4 mb-lg-0 d-flex flex-column d-lg-block">
    <h3 class="display-5 flex-grow-1 mx-auto mx-lg-0">Evaluation & Briefing</h3>
    <img
      src="/assets/img/evaluation_briefing.svg"
      alt="Evaluation and briefing"
      class="mt-4 icon ms-lg-4 mx-auto mx-lg-0"
    />
  </div>
  <p class="fs-5 icon-block-lg">
    Ein umfassendes Briefing ist uns sehr wichtig. In verschiedenen Gesprächen
    werden wir einen Überblick über die Situation und über die strategische
    Ausrichtung der Unternehmung erarbeiten. Wir werden aber auch die kommenden
    Herausforderungen und die Anforderung an die Position im Detail besprechen
    und die zukünftigen Erwartungen abstimmen. Daraus werden wir klare und
    messbare Erfahrungswerte und Kompetenzanforderungen definieren und in einem
    Positionsprofil zusammenfassen. Zusätzlich werden wir mit Ihrem Input einen
    attraktiven Sales-Ansatz entwickeln, um die besten Kandidaten für die
    Position gewinnen zu können. Auch eine entsprechende Search Strategie mit
    den definierten Zielgruppen werden wir mit Ihnen besprechen.
  </p>
</div>

<div class="pt-5 mt-5 d-flex flex-column flex-lg-row">
  <div class="icon-block-sm mb-4 mb-lg-0 d-flex flex-column d-lg-block">
    <h3 class="display-5 flex-grow-1 mx-auto mx-lg-0">
      Identifikation & Mapping
    </h3>
    <img
      src="/assets/img/identifikation_mapping.svg"
      alt="Evaluation and briefing"
      class="mt-4 icon ms-lg-4 mx-auto mx-lg-0"
    />
  </div>
  <div class="fs-5 icon-block-lg">
    <p>
      Ein wesentliches Schlüsselelement ist der vertrauliche und vollständige
      Zugang zu den relevanten Kandidaten. Unser Name ist auf dem Markt sehr
      etabliert und hilft uns, die hochqualifizierten Kandidaten zu
      kontaktieren. Unser Erfolg basiert auf einer vielschichtigen Suchmethodik,
      um sämtliche interessanten, interne und externe Kandidaten zu
      identifizieren und anzusprechen.
    </p>
    <p>Dabei werden folgende Ziele verfolgt:</p>
    <dl>
      <dt>Direkt Suche:</dt>
      <dd class="mb-4">
        Identifikation von Kandidaten in den oben definierten Zielfirmengruppen
        respektive Zielfirmen. Dabei werden die definierten Firmen mit
        verschiedenen Instrumenten durchleuchtet und analysiert, sodass die
        identifizierten Kandidaten auch auf ihre unternehmerische Leistung
        geprüft werden.
      </dd>
      <dt>Datenbank:</dt>
      <dd class="mb-4">
        Wir verfügen über eine grosse Wissens-Plattform. Aus dieser Plattform
        können wir mit einer Vielzahl von Filtern die entsprechenden Kandidaten
        selektionieren und zusätzliche Informationen abrufen. Die Datenbank
        umfasst auch einen Talentpool mit den bestqualifizierten Kandidaten, die
        permanent von uns evaluiert werden.
      </dd>
      <dt>Interne Referenzen:</dt>
      <dd class="mb-4">
        Über unser Partner-Netzwerk werden weitere interessante Kandidaten
        identifiziert und in den Prozess eingebunden.
      </dd>
      <dt>Externe Referenzen:</dt>
      <dd class="mb-4">
        Über vertrauliche Schlüsselpersonen in den entsprechenden Zielmärkten
        werden wir weitere qualifizierte Kandidaten in Erfahrung bringen
        (verdeckte bzw. sehr vertrauliche Ansprache).
      </dd>
      <dt>Abgeschlossene Mandate:</dt>
      <dd class="mb-4">
        Da wir eine Vielzahl von relevanten Suchen erfolgreich abgeschlossen
        haben, werden wir auf die bereits erfolgten Studien, Analysen und
        Research-Arbeiten zugreifen können.
      </dd>
      <dt>Professional Networks:</dt>
      <dd class="mb-4">
        Über verschiedene berufliche und soziale Netzwerke werden wir weitere
        Kandidaten identifizieren.
      </dd>
    </dl>
    <p class="fs-5">
      Ziel ist es, ein umfassendes Mapping zu erstellen mit allen qualifizierten
      und verfügbaren Kandidaten.
    </p>
  </div>
</div>

<div class="pt-5 mt-5 d-flex flex-column flex-lg-row">
  <div class="icon-block-sm mb-4 mb-lg-0 d-flex flex-column d-lg-block">
    <h3 class="display-5 flex-grow-1 mx-auto mx-lg-0">
      Interview & Präsentation
    </h3>
    <img
      src="/assets/img/interview_presentation.svg"
      alt="Evaluation and briefing"
      class="mt-4 icon ms-lg-4 mx-auto mx-lg-0"
    />
  </div>
  <div class="fs-5 icon-block-lg">
    <p>
      Basierend auf dem Mapping werden wir die Kandidaten mit einem
      professionellen Ansatz ansprechen und Ihnen die interessante, berufliche
      Entwicklung näherbringen. Unsere Reputation im Markt erlaubt uns, die
      besten Kandidaten einfach anzusprechen und für unser Mandat zu gewinnen.
    </p>
    <p>
      In einem strukturierten Interview werden die interessanten Kandidaten
      gegenüber unserem Anforderungsprofil überprüft und qualifiziert.
    </p>
    <p>
      Dabei werden wir die Kandidaten in den folgenden vier Dimensionen
      analysieren und qualifizieren:
    </p>
    <ul>
      <li>Expertise & Kompetenzen</li>
      <li>Leadership</li>
      <li>Agility & Potential</li>
      <li>Cultural Fit</li>
    </ul>
    <p>
      Die bestqualifizieren Kandidaten werden wir Ihnen zu einem persönlichen
      Gespräch vorstellen.
    </p>
    <p>
      Sie werden alle notwendigen Information zu den einzelnen Kandidaten
      erhalten.
    </p>
  </div>
</div>

<div class="pt-5 mt-5 d-flex flex-column flex-lg-row">
  <div class="icon-block-sm mb-4 mb-lg-0 d-flex flex-column d-lg-block">
    <h3 class="display-5 flex-grow-1 mx-auto mx-lg-0">Selektion & Offering:</h3>
    <img
      src="/assets/img/selection_offering.svg"
      alt="Evaluation and briefing"
      class="mt-4 icon ms-lg-4 mx-auto mx-lg-0"
    />
  </div>
  <div class="fs-5 icon-block-lg">
    <p>
      Basierend auf unserer Qualifikation und Ihren Eindrücken aus den
      Interviews werden wir sie unterstützen, die richtige Entscheidung in der
      Wahl des Kandidaten zu fällen.
    </p>
    <p>
      Wir werden die entsprechenden Referenzen einholen und diese mit Ihnen
      besprechen.
    </p>
    <p>
      Wir unterstützen Sie im gesamten Offering-Prozess und in den
      Verhandlungsschritten bis der Vertrag unterschrieben ist.
    </p>
  </div>
</div>

<div class="pt-5 mt-5 d-flex flex-column flex-lg-row">
  <div class="icon-block-sm mb-4 mb-lg-0 d-flex flex-column d-lg-block">
    <h3 class="display-5 flex-grow-1 mx-auto mx-lg-0">
      Transition & Integration:
    </h3>
    <img
      src="/assets/img/transition_integration.svg"
      alt="Evaluation and briefing"
      class="mt-4 icon ms-lg-4 mx-auto mx-lg-0"
    />
  </div>
  <div class="fs-5 icon-block-lg">
    <p>
      Wir werden das Placement in der Integration in die neue Position
      unterstützen und für 12 Monaten ein Coaching anbieten.
    </p>
  </div>
</div>
